{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}
  <h2>Delete Topic: {{ topic.text }}</h2>
{% endblock page_header %}

{% block content %}
  <p>Are you sure you want to delete the topic "<strong>{{ topic.text }}</strong>"?</p>
  <p>All entries associated with this topic will also be permanently deleted.</p>

  <form action="{% url 'learning_logs:delete_topic' topic.id %}" method='post'>
    {% csrf_token %}
    {% bootstrap_button button_type="submit" content="Yes, delete" button_class="btn-danger" %}
    <a href="{% url 'learning_logs:topic' topic.id %}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock content %}