{% extends 'learning_logs/base.html' %}
{% load django_bootstrap5 %}

{% block page_header %}
  <h2>Set New Password</h2>
{% endblock page_header %}

{% block content %}
  {% if validlink %}
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% bootstrap_button button_type="submit" content="Change Password" %}
    </form>
  {% else %}
    <div class="alert alert-danger">
      <strong>Invalid link!</strong> This reset link has expired.
    </div>
    <a href="{% url 'accounts:password_reset' %}" class="btn btn-primary">Request a new link</a>
  {% endif %}
{% endblock content %}